<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Esqueceu a Senha</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/e9be548f62.js" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'projeto_eventos/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'projeto_eventos/style-login.css' %}" />
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/forgot-password" method="POST">
                <h1>Esqueceu a Senha?</h1>
                <p>Informe o seu email cadastrado e enviaremos instruções para redefinir a sua senha.</p>
                <input type="email" name="email" placeholder="Email" required />
                <button type="submit">Enviar</button>
                <a href="{% url 'login' %}" style="text-align:center;">Voltar para Login</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h2>Event Management</h2>
                    <p>Plataforma para agilizar a busca e controle de eventos!</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
