/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #FFF;
  padding: 5% 15%;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 100%;
}

/* Grid de times */
.teams-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.team-block {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.btn-communicate {
  background-color: #161a2d;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
}

.btn-communicate:hover {
  background-color: #161a2dd8;
}

/* Centralizando a imagem do torneio */
.tournament-details-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza a imagem horizontalmente */
  justify-content: center;
  margin-bottom: 20px;
}

.tournament-image-details {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center; /* Garante que a imagem esteja centralizada no contexto do texto */
}


.tournament-info p {
  font-size: 18px;
  margin: 5px 0;
}

/* Centralizando o botão voltar */
.btn-back-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-back {
  background-color: #161a2d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-back:hover {
  background-color: #161a2dd8;
}

/* Estilo para a grid de torneios */
.tournament-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* Grid responsiva */
  gap: 20px;
  margin-top: 20px;
}

/* Cada item de torneio será um quadrado */
.tournament-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;  /* Para garantir que a imagem e o conteúdo fiquem dentro do quadrado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tournament-item:hover {
  transform: scale(1.05);  /* Efeito ao passar o mouse */
}

/* Estilo da imagem do torneio */
.tournament-image {
  width: 100%;
  text-align: center;
  height: 150px;
  object-fit: cover;  /* Garante que a imagem cubra o espaço sem distorção */
}

/* Detalhes do torneio */
.tournament-details {
  padding: 15px;
}

.tournament-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tournament-header h2 {
  font-size: 20px;
  color: #2c3e50;
  margin: 0;
}

/* Estilo para os botões de filtro */
.filter-buttons {
  margin-bottom: 20px;
}

.filter-btn {
  background-color: #161a2d;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-btn:hover {
  background-color: #161a2dd8;
}

.tournament-date {
  font-size: 12px;
  color: #7f8c8d;
}

.tournament-item p {
  font-size: 14px;
  color: #34495e;
  margin-bottom: 10px;
}

.btn-details {
  display: inline-block;
  background-color: #161a2d;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-top: auto;
  transition: background-color 0.3s;
}

.btn-details:hover {
  background-color: #161a2dd8;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #24023c;
  padding: 25px 20px;
  transition: all 0.4s ease;
  z-index: 10000;
}

.sidebar:hover {
  width: 320px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
    width: 52px;
    border-radius: 50%;
    transform: scale(0.84);
    transform-origin: center;
  }  

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}


.alert {
  padding: 15px;
  background-color: #f44336; /* Vermelho para erros */
  color: white;
  position: fixed;  /* Mantém o alerta fixo no topo */
  top: 20px;  /* Adiciona uma margem de 20px do topo */
  left: 50%;  /* Centraliza o alerta horizontalmente */
  transform: translateX(-50%);  /* Garante que o alerta fique perfeitamente centralizado */
  width: 60%;  /* Faz o alerta ter 60% da largura da página */
  z-index: 9999;  /* Garante que o alerta fique sobre outros elementos */
  border-radius: 10px;  /* Bordas arredondadas */
  opacity: 1;
  transition: opacity 0.6s ease-out; /* Transição suave */
  text-align: center;
}

.alert ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.alert-success {
  background-color: #4CAF50; /* Verde para sucesso */
}

.alert-danger {
  background-color: #f44336; /* Vermelho para erros */
}

.alert-warning {
  background-color: #ff9800; /* Laranja para alertas */
}

.alert-info {
  background-color: #2196F3; /* Azul para informações */
}


.tournament-item {
  opacity: 0; /* Iniciar com invisibilidade */
  transform: translateY(20px); /* Mover para baixo antes da animação */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.tournament-item.show {
  opacity: 1; /* Tornar visível */
  transform: translateY(0); /* Voltar à posição normal */
}

/* Outros estilos necessários para a página */
.filter-buttons {
  margin-bottom: 20px;
}

.btn-remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.btn-remove span {
  font-size: 24px;
}

.button-group {
  display: flex;
  justify-content: space-between; /* Coloca os botões nos cantos opostos */
  align-items: center;            /* Alinha verticalmente no centro */
  width: 100%;                    /* Garante que o container ocupe toda a largura */
}

/* Estilo geral para a tabela */
table {
  width: 100%;
  border-collapse: collapse;  /* Remove bordas duplicadas */
  margin-bottom: 20px;
  font-size: 15px;
  background-color: #f9f9f9;  /* Fundo suave */
  border-radius: 8px;          /* Bordas arredondadas na tabela */
  overflow: hidden;            /* Garante que as bordas arredondadas sejam visíveis */
}

th, td {
  padding: 12px 15px;  /* Padding interno das células */
  text-align: left;
}

th {
  background-color: #161a2d;  /* Fundo escuro no cabeçalho */
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

td {
  background-color: white;
  color: #333;
  border-bottom: 1px solid #ddd;  /* Linha de separação suave entre as células */
}

tbody tr {
  transition: background-color 0.3s ease;  /* Transição suave ao passar o mouse */
}

tbody tr:hover {
  background-color: #f1f1f1;  /* Cor suave ao passar o mouse */
}

/* Primeira e última célula com bordas arredondadas
tbody tr:first-child td:first-child {
  border-top-left-radius: 8px;
}

tbody tr:first-child td:last-child {
  border-top-right-radius: 8px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
} */
